.header {
  background-color: #eee;
}

.header .content {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .content ul {
  display: flex;
  gap: 20px;
}

.header ul li a:hover {
  color: #25888e;
}

.header ul li.active a {
  color: #25888e;
}